---
title: Homepage 
---


<p>
This page will include the following summary charts, each of which will link to a more detailed page exploring the dataset.
</p>

<ul class="dashboard">
<li><a href="/data/employment/">
  <h2>Employment</h2>
  <p>{{ search.data('data/employment').headlines.proportion_employed }}%</p>
</a>
</li>
<li>Unmployment</li>
<li>Economic Inactivity</li>
<li>NEET</li>
</ul>